// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
   background-image: asset-url('mountain.jpg');
   background-size: cover;
   height: 550px;
}
.jumbotron h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn.btn-xlarge{
    font-size: 1.2em;
    color: white;

}
.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer a:hover{
    color: #222;

}
footer small{
    float: left;
}
footer ul{
    float: right;
    list-style: none;
}
footer ul li{
    float: left;
    margin-left: 15px;
}