<div class="container">
<footer class="footer">
    <small>Copyright &copy; <a href="www.google.co.uk">The complete ruby on rails course</a> by Natalie </small>
    <nav>
        <ul>
            <li>Testing</li>
        </ul>
    </nav>
</footer>
</div>